/Kawenata_hou_1868_mac.txt
/RA_notes.ipynb
/__pycache__
/maori_pos_tagger.ipynb
/original_code.ipynb
/paperwork
/parse_phrases_mac_0205.py
/tagged_output_0.pdf
/test_data
/test_text_tag_punct.txt
/train_sentences.txt
/train_sentences.txt:Zone.Identifier